
  <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary"><%= title('Enviar Notificação') %></h6>
                </div>
                <div class="card-body">
                   

<%= form_with model: notification, local:true do |f| %>


            <div class="form-row">

              <div class="form-group col-md-12">
                <%= f.label :title, 'Titulo' %>:
                <%= f.text_field :title, placeholder: 'Digite o titulo da notificação', class: "form-control" %>
              </div>

              <div class="form-group col-md-12">
                <%= f.label :messager, 'Mensagem' %>:
                <%= f.text_area :messager, placeholder: 'Mensagem', class: "form-control form-control-user" %>
              </div>

              <div class="form-group col-md-12">
                <%= f.label "Agendar" %>:
                <%= f.text_field :calendar, class: "form-control datepicker" %>
              </div>

                <%= f.hidden_field :client_id %>

            <div class="form-actions form-group">
              <p></p>
              <div class="text-left">
                <%= f.submit "Salvar", class: 'btn btn-success ' %>
              </div>
            </div>
            <% end %>

              
        </div>
                  <hr>
                  Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file.
                </div>
              </div>


   
    
