<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= title('Gerenciar Notificações') %></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">


        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Titulo:</th>
              <th>Para:</th>
              <th>Agendado em:</th>
              <th>Anotações do cliente:</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Titulo:</th>
              <th>Para:</th>
              <th>Agendado em:</th>
              <th>Anotações do cliente:</th>
              <th>Ação</th>
            </tr>
          </tfoot>
          <tbody>

            <% @notification.each do |notification| %>

            <tr>
              <td><%= notification.title %></td>
              <td><b><%= notification.client.name %></b></td>
              <td><span class="badge badge-info">
                  <%= notification.calendar.strftime("%d/%m/%Y %-l:%M %P") %> </span> </td>
              <td>

                <% if notification.client.notes.size > 0  %>
                <span class="badge badge-info"> <%= notification.client.notes.size %> </span>
                <a href="<%= client_path(notification.client.id) %>"   class="btn btn-primary btn-sm">
                  <i class="fa fa-plus" aria-hidden="true"></i>  add anotação </a> 
          
              
                <% else %>
             <span class="text-center">
                nenhuma anotação até o momento. <br> <%= link_to "Criar anotação", client_path(notification.client.id) %>
             </span>
                <% end %>
              </td>
              <td>

                <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_notification_path(notification), class: "btn btn-info btn-sm" %>
                <%= link_to '<i class="fa fa-trash btn-sm"></i> Excluir'.html_safe , notification_path(notification), method: :delete, data: {confirm: "Deseja deletar esse item?"}, class: "btn btn-danger btn-sm" %>
              </td>
              </td>
              <% end %>

          </tbody>
        </table>
<p></p>
        <ul class="list-group">
          <li class="list-group-item"> <strong class="card-title font-weight-bold">Notificações
              enviadas</strong></li>

          <% @notification_send.each do |sender| %>

          <li class="list-group-item list-group-item-light"><%= sender.title %> - <b>
              <%= sender.client.name %> </b>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, notification_path(sender),
method: :delete, data: {confirm: "Deseja deletar esse item?"}, class: "btn btn-xs btn-danger text-right" %></li>
          <% end %>
        </ul>


      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
</div>
</div>