<% title('Recuperar senha') %>

 <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4"><%= t('Lembrar') %></h1>
                       <%= render "shered/flashmessager" %>
                  </div>

 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
                
                 

    <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Digite seu e-mail", class: "form-control"  %>

        </div>
        <div class="form-group">
          <%= f.submit "Lembrar-me", class: "btn btn-primary btn-user btn-block" %>

        </div>

                   
            
                    <hr>
                    <%# <a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a> %>
                  </form>
                   
            
                <%= render 'devise/shared/links' %>
                </div>
              </div>
            </div>


 
<% end %>
 