
<h3>Aniversariantes do mês</h3>
<p></p
<% Client.birthday.each do |c| %>


  <div class="col-sm-6 col-lg-3">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= c.name %> <%= c.last_name %> </h5>
    <h6 class="card-subtitle mb-2 text-muted"><% if c.birthday.strftime("%d") == Time.now.strftime("%d") %>


<span class="badge badge-pill badge-info">Parabéns, Aniversário é hoje!</span>

                                                                  <% else %>

                                                            <b>Idade:</b>  <%= time_ago_in_words(c.birthday.strftime("%d/%m/%Y")) %>
                                                                  <% end %>

                                                                   </h6>
    <p class="card-text"><%= c.address %>.</p>
    <%= link_to 'Notificar', new_notification_path(user: c.id), class: "btn btn-success btn-sm" %>


  </div>
</div>
</div>
<% end %>
