
<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="row">

        <div class="col-lg-8">
            <div class="card">
                <div class="card-header"> <%= 'Dados do Cliente' %> </div>
                <div class="card-body card-block">

                  <%= form_with model: client, local:true do |f| %>


                  <div class="form-row">

                    <div class="form-group col-md-6">
                      <%= f.label :name, 'Nome' %>:
                      <%= f.text_field :name, placeholder: 'Digite o nome', class: "form-control" %>
                      </div>

                      <div class="form-group col-md-6">
                        <%= f.label :last_name, 'Sobre nome' %>:
                        <%= f.text_field :last_name, placeholder: 'Sobre nome', class: "form-control" %>
                      </div>

                      <div class="form-group col-md-6">

                          <%= f.label :email %>:
                          <%= f.text_field :email,  placeholder: 'Digite um email', class: "form-control" %>
                      </div>

                      <div class="form-group">

                          <%= f.label :birthday, 'Data de aniversário' %>:
                          <%= f.date_field :birthday, autocomplete: "date", class: "form-control" %>

                      </div>
                      <div class="form-group col-md-12">
                          <%= f.label :address, 'Endereço:' %>
                          <%= f.text_area :address, class: "form-control" %>
                      </div>
                      <div class="form-group col-md-6">
                          <%= f.label :cpf, 'CPF:' %>
                          <%= f.text_field :cpf, autofocus: true, class: "form-control" %>
                      </div>


                      <div class="form-group col-md-6">

                          <%= f.label :tel, 'Telefone:' %>
                          <%= f.text_field :tel,  class: "form-control" %>
                      </div>
                      <div class="form-group col-md-6">

                          <%= f.label :cel, 'Celular:' %>
                          <%= f.text_field :cel, class: "form-control" %>
                      </div>



  </div>



                        <div class="form-actions form-group">
<p></p>
                        <div class="text-left">
                            <%= f.submit "Salvar", class: 'btn btn-success ' %>
                        </div>
                            <div class="text-right">
                              <%= link_to 'Voltar', clients_path, class: "btn btn-info" %>
                            </div>

                      </div>
                      <% end %>


              </div>
            </div>
    </div>
