<% title('Criar Novo Cliente') %>
<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="row">

        <div class="col-lg-8">
            <div class="card">
                <div class="card-header"> <%= 'Dados do Cliente' %> </div>
                <div class="card-body card-block">

                  <%= form_with model: Client do |f| %>


                  <div class="form-row">

                    <div class="form-group col-md-6">
                      <%= f.label :name, t('Nome') %>:
                      <%= f.text_field :name, placeholder: 'Digite o nome', class: "form-control" %>
                      </div>

                      <div class="form-group col-md-6">
                        <%= f.label :last_name, 'Sobre nome' %>:
                        <%= f.text_field :last_name, placeholder: 'Sobre nome', autofocus: true, autocomplete: "last_name", class: "form-control" %>
                      </div>

                      <div class="form-group col-md-6">

                          <%= f.label :email %>:
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                      </div>
                      <div class="form-group">

                          <%= f.label :birhday, 'Data de aniversário' %>:
                          <%= f.date_field :birhday, autofocus: true, autocomplete: "date", class: "form-control" %>

                      </div>

                      <div class="form-group col-md-6">

                          <%= f.label :tel, 'Telefone:' %>
                          <%= f.text_field :tel, autofocus: true, class: "form-control" %>
                      </div>
                      <div class="form-group col-md-6">

                          <%= f.label :cel, 'Celular:' %>
                          <%= f.text_field :cel, autofocus: true, class: "form-control" %>
                      </div>
                      <div class="form-group col-md-6">

                          <%= f.label :cpf, 'CPF:' %>
                          <%= f.text_field :cpf, autofocus: true, class: "form-control" %>
                      </div>


  </div>



                        <div class="form-actions form-group">
<p></p>
                          <%= f.submit "Enviar", class: 'btn btn-success ' %>

                      </div>
                      <% end %>


              </div>
            </div>
    </div>
