<%= render 'shered/breadcromb' %>

            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title"><%= title('Gerenciar Cliente') %></strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>E-mail</th>
                                            <th>Aniversário:</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <% @client.each do |c| %>
                                        <tr>
                                            <td><b><%= c.name %></b></td>
                                            <td><%= c.email %></td>
                                            <td><%= c.birthday.strftime("%-d/%m/%Y") %></td>

                                            <td>
             <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe , edit_client_path(c), class: 'btn btn-primary' %>
             <%= link_to '<i class="fa fa-view"></i> Detalhes'.html_safe , client_path(c), class: 'btn btn-info' %>

             <%= link_to "<i class='fa fa-trash' ></i> Delete".html_safe,
                 client_path(c),
               method: :delete, data: { confirm: 'Você realmente deseja deletar ?' }, class: "btn btn-danger"  %>


                                            </td>
                                        </tr>
                                        <% end %>


                                    </tbody>
                                </table>

                                <nav >
                                  <ul aria-label="Page navigation example" class="pagination">
                                    <div class="digg_pagination pagination page-item">

    <%= will_paginate @client, :container => false %>
  </div>

                                  </ul>
                                </nav>


                            </div>
                        </div>

                    </div>


                </div>
            </div><!-- .animated -->

<!-- Card Aniversário  -->



          </div><!-- .content -->
