
    <div class="container-fluid">

    <!-- Page Heading -->
    <%# <h1 class="h3 mb-2 text-gray-800">Gerenciar Clientes</h1> %>
    <%# <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> %>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= title('Gerenciar Clientes') %></h6>
    </div>
    <div class="card-body">
    <div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Notificações</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Aniversário:</th>
                        <th>Anotações:</th>
                        <th>Ação</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                       <th>Notificações</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Aniversário:</th>
                        <th>Anotações:</th>
                        <th>Ação</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  <% @client.each do |c| %>
    <tr>
    <td> 
    <a href="<%= new_notification_path(user: c.id) %>" class="btn btn-outline-success">Enviar</a>
    </td>
    <td> 
    <b><%= c.name %></b> 
    </td>
    <td><%= c.email %></td>
    <td><%= c.birthday.strftime("%d/%m/%Y") %></td>
    <td><span class="badge badge-info"><%= c.notes.size %></span></td>

    <td>
    <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe , edit_client_path(c), class: 'btn btn-sm btn-primary' %>
    <%= link_to '<i class="fa fa-look"></i> Detalhes'.html_safe , client_path(c), class: 'btn  btn-sm btn-info' %>

    <%= link_to "<i class='fa fa-trash' ></i> Delete".html_safe,
    client_path(c),
    method: :delete, data: { confirm: 'Você realmente deseja deletar ?' }, class: "btn btn-danger  btn-sm"  %>


    </td>
    </tr>
    <% end %>  
                      

                  </tbody>
                </table>

     
    </div>
    </div>
    </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
 