<%= render 'shered/breadcromb' %>

<div class="animated fadeIn">

                <div class="ui-typography">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title" v-if="headerText">ID #<%= @client.id %> </strong>
                                </div>

                                <div class="card-body">

                              <div class="typo-headers">

                                <h3 class="pb-2 display-5"><b>Nome:</b>  <%= @client.name %></h3>
                                <h4 class="pb-2 display-5"><b>E-mail:</b>  <%= @client.email %> </h4>
                                <h4 class="pb-2 display-5"><b>Telefone:</b>  <%= @client.tel %> </h4>
                                <h4 class="pb-2 display-5"><b>Celular:</b> <%= @client.cel %> </h4>
                                <h4 class="pb-2 display-5"><b>Cpf:</b>  <%= @client.cpf %> </h4>
                                <h4 class="pb-2 display-5"><b>Endereço:</b>  <%= @client.address %> </h4>
                                <h4 class="pb-2 display-5"><b>Aniversário:</b>  <%= @client.birthday.strftime("%d/%m/%Y") %> </h4>

                            </div>

                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Titulo</th>
                                      <th >Nota</th>
                                      <th scope="col"></th>
                                      <th scope="col">Deletar</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <% @notes.each do |note| %>
                                    <tr>
                                      <th  scope="row"><%= note.id %></th>
                                      <td> <b><%= note.title %></b> <br><dd>Nota:</dd><%= note.messager %></td>

                                      <td class="text-muted"><%= time_ago_in_words(note.created_at).capitalize %></td>
                                      <td><%= link_to "Deletar", note_path(note), method: :delete, data: {confirm: "Deseja deletar está anotação"}, class: "btn btn-danger" %></td>
                                    </tr>
                                   <% end %>
                                 </tbody>
     </table>





                              <%= render "notes/form", notes: @notes %>



                    </div>
                </div>
            </div>

  </div>
</div>

</div>
</div>


</div>
</div>
</div>
