<!DOCTYPE html>
<html>
  <head>
    <% title = yield:title %>
    <title><%= title || tags['company_name'] %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="https://notifycustomers.herokuapp.com/favicon.ico">
    <%= stylesheet_link_tag 'application' %>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

  </head>

  <body>

    <%= render 'shered/header/nav_left' %>
    <%= render 'shered/header/nav_top' %>
    <%= yield %>


    <%= javascript_include_tag 'application' %>

  </body>
</html>
