<!DOCTYPE html>
<html>
  <head>
    <% title = yield(:title)  %>
    <title><%= title  || 'Notify Custumers v0.1' %> <%= tags['company_name'] %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://customersnotify.herokuapp.com/apple-icon.png">
    <link rel="shortcut icon" href="https://customersnotify.herokuapp.com/favicon.ico">
    <%= stylesheet_link_tag  'application' %>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

  </head>
 


<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
               <%= yield %>
           
          </div>
        </div>

      </div>

    </div>

  </div>


 
    


      <%= javascript_include_tag 'application' %>
  </body>
</html>
