<!DOCTYPE html>
<html>
  <head>
    <% title = yield(:title)  %>
    <title><%= title  || 'Notify Custumers v0.1' %> <%= tags['company_name'] %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://customersnotify.herokuapp.com/apple-icon.png">
    <link rel="shortcut icon" href="https://customersnotify.herokuapp.com/favicon.ico">
    <%= stylesheet_link_tag  'application' %>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

  </head>

<body class="bg-dark">


      <div class="sufee-login d-flex align-content-center flex-wrap">
          <div class="container">
              <div class="login-content">
                  <div class="login-logo">
                      <a href="#">
                        <h3 style="color:#fff"> <%= title || 'Notify Costumers v0.1' %></h3>
                          <!-- <img class="align-content" src="images/logo.png" alt=""> -->
                      </a>
                  </div>

                      <%= yield %>

              </div>
          </div>
      </div>



<%= javascript_include_tag 'application' %>
  </body>
</html>
